body{
	background-image: url(xaridorlar.jpeg);
	background-size: cover;
	background-attachment: fixed;
	display:flex;
	justify-content: center;

}

.container{
	width: 70%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6 );
	margin-top: 30px;
	border-radius: 10px;
	box-shadow: 0 0 20px white;
	color: white;
}

table{
	width: 90%;
	border-collapse: collapse;
	border:1px solid white;
	margin-top: 30px;
	margin-bottom: 30px;
}
.tr1{
	display: flex;
    justify-content: space-around;
}
.td1{
	border:1px solid white;
	width: 33.3%;
	box-shadow: 0 0 10px white;
	padding: 10px;
}
.Asosiy{
	text-align: center;

}
a{
	display: inline-block;
	padding: 10px;
	font-size: 25px;
	background-color: black;
	border-radius: 20px;
	color:white;
	text-decoration: none;
	box-shadow: 0 0 20px green;
	margin-bottom: 30px;
}
a:hover{


	background-color: white;
	color:black;
	box-shadow: 0 0 20px white;
}
.td2{
	font-size: 30px;
}